{% extends 'index.html' %}

{% block content %}
<div class="mt-3">
    <h2>Авторы</h2>
    <table>
        <tr>
            <td>
                <form method="post" action="/filter_by_first_later">
                    <div class="form-group">
                        <div>Отфильтровать авторов по букве:</div>
                        <input type="text" name="latter" placeholder="Введите данные">
                        <button type="submit">Применить</button>
                    </div>
                </form>
            </td>
            <td>
                <form method="post" action="/filter_by_books_count">
                <div class="form-group">
                    <div>Отфильтровать авторов по кол-ву книг:</div>
                    <input type="text" name="books_count" placeholder="Введите данные">
                    <button type="submit">Применить</button>
                </div>
                </form>
            </td>
            <td>
                <form method="post" action="/sort_authors">
                    <div class="form-group">
                        <div>Сортировать</div>
                        <select class="form-control" name="sort_method">
                            <option value="birth_year">По дате рождения</option>
                            <option value="alphabet">По алфавиту</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Сортировать</button>
                </form>
            </td>
        </tr>
    </table>
   
    <ul class="list-group mt-3">
        <table>
        {% for author in authors %}
        
            <tr>
                <td style="width: 30%; height: auto;">
                    <li class="list-group-item">{{ author.name }}</li>
                </td>
                <td style="width: 30%; height: auto;">
                    <li class="list-group-item">{{ author.birth_year }}</li>
                </td>
                <td style="width: 30%0; height: auto;">
                    <li class="list-group-item"><div>Кол-во книг:</div>{{ author.books|length }}</li>
                </td>
            </tr>
        {% endfor %}
    </table>
    </ul>
</div>
{% endblock %}
